
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="bg-danger mb-1 p-2 text-white">
    Girish uchun icazeniz yoxdur.
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a>

